<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            /* Optional: Set a background color */
        }
        
        div {
            text-align: center;
        }
        
        h1,
        h2,
        h4,
        p {
            margin: 0;
        }
        
        h1 {
            font-size: 3em;
            /* Set a larger font size for the h1 element */
            color: #e74c3c;
            /* Optional: Set a color for the h1 element */
            margin-bottom: 10px;
            /* Add some space below the h1 element */
        }
        
        h2 {
            font-size: 2em;
            /* Set a larger font size for the h2 element */
        }
        
        h4 {
            font-size: 1.5em;
            /* Set a larger font size for the h4 element */
        }
    </style>
    <title>Error</title>
</head>

<body>
    <div>
        <h1>Error</h1>
        <h2>404..</h2>
        <h4>Internal Server Error</h4>
        <p>Try after some time</p>
    </div>
</body>

</html>